<div class="row clearfix" [@routerTransition]>
    <div class="col-md-6">
        <div class="card main-content">
            <div class="header">
                <h2>{{ "Organization Tree" | localize }}</h2>
            </div>
            <button type="button" class="btn btn-primary m-t-15 waves-effect pull-right" (click)="createOrganizationUnit()">
                Add root unit
            </button>
            <div class="body table-responsive">
               
               
                
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card main-content">
            <div class="header">
                <h2>{{ "" | localize }}</h2>
            </div>
            <div class="body table-responsive">
               
               
               
            </div>
        </div>
    </div>
</div>
