<div class="modal-dialog modal-lg">
    <h1 mat-dialog-title>{{ "Select users" | localize }}</h1>
    <mat-dialog-content>
        <table class="table table-hover table-striped" [busy]="isTableLoading">
            <thead>
                <tr>
                    <th>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </th>
                    <th>{{ "FullName" | localize }}</th>
                    <th>{{ "EmailAddress" | localize }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="
                        let user of (users
                          | paginate
                            : {
                                id: 'server',
                                itemsPerPage: pageSize,
                                currentPage: pageNumber,
                                totalItems: totalItems
                              })
                      ">
                    <td>
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(user) : null" [checked]="selection.isSelected(user)">
                        </mat-checkbox>
                    </td>
                    <td>{{ user.fullName }}</td>
                    <td>{{ user.emailAddress }}</td>
                </tr>
            </tbody>
        </table>
        <div class="abp-pagination-controls-wrapper" *ngIf="totalItems > pageSize">
            <abp-pagination-controls (pageChange)="getDataPage($event)" id="server">
            </abp-pagination-controls>
        </div>
    </mat-dialog-content>
    <div mat-dialog-actions align="end">
        <button mat-button type="button" [disabled]="saving" (click)="close(false)">
            {{ "Cancel" | localize }}
        </button>
        <button mat-button type="button" color="primary" [disabled]="selection.selected.length < 1" (click)="addUsers()">
            {{ "Save" | localize }}
        </button>
    </div>
</div>