<div class="modal-dialog modal-md">
    <h1 mat-dialog-title>{{ "Select users" | localize }}</h1>
    <mat-dialog-content>
        <table class="table table-hover table-striped" [busy]="isTableLoading">
            <thead>
                <tr>
                    <th>{{ "FullName" | localize }}</th>
                    <th>{{ "EmailAddress" | localize }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="
                        let user of (users
                          | paginate
                            : {
                                id: 'server',
                                itemsPerPage: pageSize,
                                currentPage: pageNumber,
                                totalItems: totalItems
                              })
                      ">
                    <td>{{ user.fullName }}</td>
                    <td>{{ user.emailAddress }}</td>
                </tr>
            </tbody>
        </table>
        <div class="abp-pagination-controls-wrapper" *ngIf="totalItems > pageSize">
            <abp-pagination-controls (pageChange)="getDataPage($event)" id="server">
            </abp-pagination-controls>
        </div>
    </mat-dialog-content>
    <div mat-dialog-actions align="end">
        <button mat-button type="button" [disabled]="saving" (click)="close(false)">
            {{ "Cancel" | localize }}
        </button>
        <!-- <button mat-flat-button type="submit" flex="15" color="primary"
            [disabled]="!createOrganizationUnitForm.form.valid || saving">
            {{ "Save" | localize }}
        </button> -->
    </div>
</div>